@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
} 
.myheader {
  display: flex;
  justify-content:left;
  align-items: left;
  background-color: rgb(253, 253, 253);
  padding: 40px;
}
/* Stile per l'immagine nel header */
.myheader img {
  width: 200px;
  height: auto;
  margin-right: 10%;
}
/* Stile per il contenitore della navigazione */
.nav-container {
  display: flex;
  gap: 50px; /* Aggiunge spazio tra i pulsanti */
  align-items: center;
  margin-left: 180px;
}
/* Stile per i pulsanti */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  white-space: nowrap; /* Impedisce al testo di andare a capo */
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Aggiunge una transizione per l'effetto hover */
}
.btn:hover {
  text-decoration: underline;
}

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  background-color: black;
  color: white; /* Modifica il colore del testo */
  height: 100vh; /* per centrare verticalmente */
  padding: 150px;
}

.aboutme img {
  width: 500px;
  height: auto;
}
.title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;  
  font-family:'Roboto', sans-serif;

}
.aboutme p
{
  font-size: 20px;
  text-align: left;
  font-family:'Roboto', sans-serif;
 
}

.myfooter {
  background-color: rgb(255, 254, 254);
  text-align: center;
  gap: 10px;
  justify-content: center;
  font-family:'Roboto', sans-serif;
  font-size: 10px;
}

#foto {
  width: 100%; /* Fai sì che le immagini della moda si adattino alla larghezza del loro contenitore */
  height: auto; /* Fai sì che le immagini della moda si adattino alle dimensioni della loro larghezza */
  margin-bottom: 10px; /* Aggiungi spazio inferiore tra le immagini */
  
} 
#form {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: rgb(251, 237, 249);
  max-width: auto;
  padding: 20px; 
}
#form h1{
   font-size: 15px; 
  color: rgba(142, 85, 133, 0.556);}

   #form h3{ 
    font-size: 35px; 
  }
.info {
  display: flex;
  flex-direction: row;
  gap: 60px;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 13px;
  text-align: center;
  justify-content: space-around;
  align-items: flex-start;
}
.info p {
  color: rgb(252, 252, 252);
  font-family:'Roboto', sans-serif;
}
.info h1 {
  color: rgb(252, 252, 252);
  font-family:'Roboto', sans-serif;
}
.contattami {
  display: flex;
  gap: 100px;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  color: white;
  flex-direction: row;
  margin-right: 20px;
  
}
.containerfashion {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 20px;
}
.fashion {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

#fashionprojects {
  margin: 20px;
  text-align: center;
}

#fname {background-color: #fff;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  font-size: 15px;
  position:static;
  border-color:rgb(167, 43, 167)
  }
  #fname:hover { background-color:rgb(167, 43, 167);
    color: #fff;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
    position:static;
    border-color:rgb(167, 43, 167)
    }
#submit {background-color: #fff;
 border-radius: 5px;
  font-size: 12px;
  position:static;    
  width: 100px; 
  padding: 10px;
  border-color:rgb(167, 43, 167)

  }
  #submit:hover { background-color:rgb(167, 43, 167);
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    position:static;  
    width: 100px; 
    padding: 10px;
    border-color:rgb(167, 43, 167)    
    }
#progetto {
  display: flex;
  flex-direction: column;
}
#map {
  width: 80%;
  height: auto;
  margin-right: 5%;
  border-radius: 25px;
  align-items: flex-end;
}
@media only screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items:left ;
    display: flex;
    gap: 10px;
    margin: 20px;
    font-size: 10px;
    text-align: left;
  }
  .myheader img {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: auto;
  }
  .myheader {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content:center;
    font-family:'Roboto', sans-serif;
    font-size: 10px;
  }
  .btn {
    margin-bottom: 10px; /* Aggiungi margine tra i pulsanti */
    width: 180px ; /* Occupa tutta la larghezza disponibile */
    height: auto;
    padding: 10px; /* Padding interno per i pulsanti */
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
  
  }
  .btn:hover {
    background-color: rgb(167, 43, 167);
    color: #fff;
    border-radius: 10px;
  }
  .aboutme img {
    max: width 400px; 
    width: 100%; /* Fai sì che le immagini occupino tutto lo spazio disponibile */
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;

  }

  .aboutme {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content:center;
    font-family:'Roboto', sans-serif;
    font-size: 10px;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  .aboutme h1 {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    
  }
  .aboutme p {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  }

  .containerfashion {
    padding: 10px;
    align-items: center;
  }
  .progetto {
    order: -1; /* Porta il testo sopra l'immagine */
    text-align: center; /* Centra il testo del progetto */
  }
  .fashion {
    flex-direction: column; /* Mostra le immagini della moda in una colonna */
    align-items: center; /* Centra le immagini */
  }
  #foto {
    width: 100%; /* Fai sì che le immagini della moda si adattino alla larghezza del loro contenitore */
    height: auto; /* Fai sì che le immagini della moda si adattino alle dimensioni della loro larghezza */
    margin-bottom: 10px; /* Aggiungi spazio inferiore tra le immagini */

  }

.myfooter {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: auto;
}
.info {
  flex-direction: column;
  align-items: center;    
  gap: 10px;
  padding: 10px;
  font-size: 10px;
  text-align: center
}
.info h1 {
  color: rgb(252, 252, 252);
  font-size: 20px; 
  flex-direction: column; 
  align-items: center;
  
}

#map {
  width: 80%;
  height: auto;
  margin-right: 5%;
  border-radius: 25px;

}

  #fname {background-color: #fff;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
    position:static;
    border-color:rgb(167, 43, 167)
    }
    #fname:hover { background-color:rgb(167, 43, 167);
      color: #fff;
      padding: 10px;
      width: 200px;
      border-radius: 5px;
      font-size: 15px;
      position:static;
      border-color:rgb(167, 43, 167)
      }
  #submit {background-color: #fff;
   border-radius: 5px;
    font-size: 12px;
    position:static;    
    width: 100px; 
    padding: 10px;
    border-color:rgb(167, 43, 167)
  
    }
    #submit:hover { background-color:rgb(167, 43, 167);
      color: #fff;
      border-radius: 5px;
      font-size: 12px;
      position:static;  
      width: 100px; 
      padding: 10px;
      border-color:rgb(167, 43, 167)    
}
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
      }
    }

    .popup {
      display: none; /* Nascondi il popup per impostazione predefinita */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
      color: white /*testo bianco*/;
      justify-content: center;
      align-items: center;
      font-family:'Roboto', sans-serif;
      font-size: 10px;
      text-align: center;
    }
    .popup-content {
      background-color: rgb(9, 9, 9);
      color:white;
      padding: 20px;
      border-radius: 5px;
      width: 100%;
      max-width: 400px;
      text-align: center;
      position: relative;
      
    }
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    /* Stile per schermi grandi */

    #newsletterform {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: j;
    }
    /* Stile per schermi piccoli */
    @media only screen and (max-width: 600px) {
      .popup {
       max-width: 600px;
      }
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    .info {
    flex-direction: column;
    align-items: center;    
    gap: 10px;
    padding: 20px;
    font-size: 10px;
    text-align: center
  }
  .info h1 {
    color: rgb(252, 252, 252);
    font-size: 20px; 
    flex-direction: column; 
    align-items: center;

    
  }
  }
  #popup:hover { background-color:rgb(167, 43, 167);
    
    color: #fff;          

  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #010101;
    color: white;
    cursor: pointer;

    font-size: 10px;
  }
  .button:hover {
    background-color: rgb(167, 43, 167);
  }

#popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #040404;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    height: 40%;
    width: 40%;
}

.button {
  margin-left: 10px;
    margin-right: 10px;
  }

#logofooter {
  width: 100px;
  height: auto;
}

.social {
  display: flex;
    gap: 100px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: white;
    flex-direction: row;
    margin-right: 20px;
}
#seguimi {
  display: flex;
    gap: 100px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: white;
    flex-direction: row;
}

.social a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
}

.social a:hover {
  color: #ddd; /* Cambia il colore al passaggio del mouse se desideri */
}

/* Media Query per schermi di dimensioni più piccole */
@media only screen and (max-width: 600px) {
  /* Modifica la dimensione del testo nell'intestazione per schermi più piccoli */
  #seguimi h1 {
      font-size: 20px;
      text-align: justify;
  }

  /* Modifica la disposizione delle icone per schermi più piccoli */
  .social {
      flex-direction: column; /* Disposizione in colonna per schermi piccoli */
      gap: 20px; /* Riduce il gap tra le icone */
      align-items: justify; /* Centra le icone */
  }

  /* Modifica la dimensione delle icone per schermi più piccoli */
  .social a {
      font-size: 20px; /* Riduce la dimensione delle icone */
      align-items: justify; /* Centra le icone */
  }
  #iscriviti {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fbfbfb;
    color: rgb(1, 1, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #iscriviti:hover {
    background-color:rgb(167, 43, 167);
    color:#ddd;
  }
}

#foto {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.contenitore-foto {
  position: relative; /* Assicura che l'elemento contenitore abbia una posizione definita */
  overflow: hidden; /* Nasconde eventuali overflow di contenuti interni */
  margin-bottom: 20px; /* Aggiunge spazio inferiore tra le immagini */
}

.contenitore-foto img {
  display: flex; /* Garantisce che l'immagine sia un blocco */
  width: 100%; /* Assicura che l'immagine riempia completamente il contenitore */
  height: auto; /* Altezza automatica rispetto alla larghezza per mantenere l'aspetto proporzionato */
  transition: transform 0.3s ease; /* Transizione fluida per l'effetto hover */
}

.contenitore-foto:hover img {
  transform: scale(1.1); /* Aumenta le dimensioni dell'immagine al passaggio del mouse */
}
#email {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  font-size: 15px;
  position:static;
  border-color:rgb(167, 43, 167)
}
#iscriviti{
  padding: 10px;
  width: 110px;
  border-radius: 5px;
  font-size: 11px;
  position:static;
  border-color:rgb(167, 43, 167)
}


#iscriviti {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fbfbfb;
  color: rgb(1, 1, 1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#iscriviti:hover {
  background-color:rgb(167, 43, 167);
  color:#ddd;
}