@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  background: linear-gradient(315deg, rgb(232, 235, 192), rgb(255, 255, 255));
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
} 

.myheader {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: rgb(253, 253, 253);
  padding: 10px;
}

/* Stile per l'immagine nel header */
.myheader img {
  width: 50px;
  height: auto;
  margin-right: 10%;

}

/* Stile per il contenitore della navigazione */
.nav-container {
  display: flex;
  gap: 10px; /* Aggiunge spazio tra i pulsanti */
}

/* Stile per i pulsanti */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  white-space: nowrap; /* Impedisce al testo di andare a capo */
  background-color: #e7ef72;
  border: none;
  cursor: pointer;
}
.aboutme{
  text-align:center;
  padding: 20px;
}
  .myfooter{
    background-color:rgb(251, 251, 251);
    text-align: center;
    padding: 0%;
    justify-content: center;
    max-width: auto;
  }

#foto {
  max-width: 400px;
  height: auto;
}
#form {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color:rgb(251, 237, 249);

}
.info{display: flex;
  flex-direction: row;
  gap: 60px;
  
}
.info h1{
  color: rgb(2, 2, 2);
}
.infocolonna{
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.containerfashion{
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.fashion {display: flex;
  flex-direction: row;
  gap: 60px;
}
